<div class="sidebar notification" *ngIf="sidebarVisible" style="overflow-y:scroll;">
    <div class="sidebar-scroll">
      <ul class="dropdown-menu-notification notifications">
              <!-- <li class="header"><strong>You have 4 new Notifications</strong></li> -->
              <li class="content-li {{themeClass}}">
                <a href="javascript:void(0);">
                  <div class="media">
                    <!-- <div class="media-left">
                      <i class="icon-info text-warning"></i>
                    </div> -->
                    <div class="media-body">
                      <p class="text">Campaign <strong>Holiday Sale</strong> is nearly reach budget limit.</p>
                      <span class="timestamp">10:00 AM Today</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="content-li {{themeClass}}">
                <a href="javascript:void(0);">
                  <div class="media">
                    <!-- <div class="media-left">
                      <i class="icon-like text-success"></i>
                    </div> -->
                    <div class="media-body">
                      <p class="text">Your New Campaign <strong>Holiday Sale</strong> is approved.</p>
                      <span class="timestamp">11:30 AM Today</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="content-li {{themeClass}}">
                <a href="javascript:void(0);">
                  <div class="media">
                    <!-- <div class="media-left">
                      <i class="icon-pie-chart text-info"></i>
                    </div> -->
                    <div class="media-body">
                      <p class="text">Website visits from Twitter is 27% higher than last week.</p>
                      <span class="timestamp">04:00 PM Today</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="content-li {{themeClass}}">
                <a href="javascript:void(0);">
                  <div class="media">
                    <!-- <div class="media-left">
                      <i class="icon-info text-danger"></i>
                    </div> -->
                    <div class="media-body">
                      <p class="text">Error on website analytics configurations</p>
                      <span class="timestamp">Yesterday</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="footer"><a href="javascript:void(0);" class="more">See all notifications</a></li>
            </ul>
    </div>
  </div>
