<h2>Timeline</h2>
<div class="container-fluid file_manager">
  <div
    class="row clearfix"
    infiniteScroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onTimeLineScroll(page)"
    [scrollWindow]="true"
  >
<div class="container">
  <div class="timeline">
    <ul>
      <li *ngFor="let item of items">
        <div class="bullet {{themeClass}}"></div>
        <div class="time">{{item.updatedDate | date: 'medium'}}</div>
        <div class="desc">
          <h3>{{ item.title }}</h3>
          <h4>{{ item.content }}</h4>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
