<div class="container-fluid file_manager">
  <div class="row clearfix">
    <div class="col-lg-3 col-md-4 col-sm-12">
      T
      <div class="card" *ngIf="config != undefined">
        <div class="file" *ngFor="let item of config.items">
          <a href="javascript:void(0);">
            <div class="hover" [ngSwitch]="true">
              <label class="fancy-checkbox" *ngSwitchCase="config.isCheckbox">
                <input type="checkbox" name="checkbox" />
                <!-- <span>Option 3</span> -->
              </label>
              <button
                type="button"
                (click)="delete($event)"
                class="btn btn-icon btn-danger"
                *ngSwitchCase="config.isDelete"
              >
                <i class="fa fa-trash"></i>
              </button>
              <p *ngSwitchDefault></p>
            </div>
            <div class="file-name" (click)="navigate($event)">
              <p class="m-b-5 text-muted">{{ item.heading }}</p>
              <small
                >{{ item.subHeading }}<span class="date text-muted">{{ item.description }}</span></small
              >
            </div>
          </a>
        </div>
        <ng-template #deleteTemplate>
          <button type="button" (click)="delete($event)" class="btn btn-icon btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>
        <ng-template #checkboxTemplate>
          <label class="fancy-checkbox">
            <input type="checkbox" name="checkbox" />
            <span>Option 3</span>
          </label>
        </ng-template>
      </div>
    </div>
  </div>
</div>
