<div class="container-fluid">
  <ng-template #pagetitle></ng-template>
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12">
      <div class="card planned_task">
        <div class="header">
          <h2>{{ config != null ? config.pageHeading : '' }}</h2>
          <div class="header-dropdown">
            <div class="input-group" *ngIf="config != undefined && config.showPageAction">
              <div class="input-group-prepend" ngbDropdown>
                <button type="button" class="btn btn-outline-secondary" *ngIf="config.defaultPageAction != null"
                  (click)="config.defaultPageAction.action($event)">
                  {{ config.defaultPageAction.title }}
                </button>
                <button type="button" *ngIf="config.pageActions != null"
                  class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" ngbDropdownToggle>
                  <span class="sr-only">Form Actions</span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu *ngIf="config.pageActions != null">
                  <a class="dropdown-item" href="javascript:void(0);" *ngFor="let action of config.pageActions"
                    (click)="action.action($event)">{{ action.title }}</a>
                  <!-- <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                  <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);">Separated link</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="below-header" *ngIf="config!=undefined && config.showSearchBar">
          <tag-input [ngModel]="config.searchModel" [ngModelOptions]="{standalone: true}"
            [placeholder]="'Enter the search criteria'" [secondaryPlaceholder]="'Enter the search criteria'"
            (onRemove)="removeSearchKeyword($event)" (onAdd)="addSearchKeyword($event)" theme='bootstrap'>
          </tag-input>
        </div>
        <div class="body">
          <ng-template #pagebody></ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
