<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="top">
          <img src="assets/images/logo-white.png" alt="Lucid" />
        </div>
        <div class="card">
          <div class="header">
            <p class="lead">Recover my password</p>
          </div>
          <div class="body">
            <p>Please enter your email address below to receive instructions for resetting password.</p>
            <form class="form-auth-small" #lockForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  [(ngModel)]="user.email"
                  name="email"
                  id="signup-password"
                  placeholder="email"
                />
              </div>
              <div class="form-group" [(hidden)]="isForgot">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="user.otp"
                  name="otp"
                  id="signup-otp"
                  placeholder="otp"
                />
              </div>
              <div class="form-group" [(hidden)]="isForgot">
                <input
                  type="password"
                  class="form-control"
                  [(ngModel)]="user.password"
                  name="password"
                  id="signup-password"
                  placeholder="new password"
                />
              </div>
              <div class="form-group" [(hidden)]="isForgot">
                <input
                  type="password"
                  class="form-control"
                  [(ngModel)]="user.confirmpassword"
                  name="confirmpassword"
                  id="signup-confirmpassword"
                  placeholder="confirm password"
                />
              </div>
              <button type="button" [(hidden)]="!isForgot" (click)="forgot()" class="btn btn-primary btn-lg btn-block">
                FORGOT PASSWORD
              </button>
              <button type="submit" [(hidden)]="isForgot" class="btn btn-primary btn-lg btn-block">
                RESET PASSWORD
              </button>
              <div class="bottom">
                <span class="helper-text"
                  >Know your password? <a [routerLink]="['/authentication/page-login']">Login</a></span
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
